<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logo and Heading</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .application-logo {
            width: 50px;
            height: 55px;
        }

        /* .invoice_background_theme {
            background: #F1FBFF;
        } */

        .invoice_label {
            font-size: 36px;
        }

        .invoice_sub_label {
            font-size: 14px;
            font-weight: 500;
            line-height: 17px;
        }

        .th-white {
            color: white;
        }

        .invoice_to, .bill_to , .bill-labels{
            color:  #171717;
            font-size: 17px;
            font-weight: 650 !important;
        }
        .custom-table td {
            border: none; /* Remove borders for individual cells */
            padding: 10px; /* Add padding for spacing */
        }

        .note-points {
            font-size: 14px;
        }
        .note {
            color:  #171717;
            font-size: 17px;
            font-weight: 550 !important;
        }
    </style>
</head>

<body>

    <div class="p-5 mt-1">
        <div class="row">
            <div class="col-12 d-flex flex-row">
                <div>
                    <img src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/navbar-logo-img.png"
                        class="application-logo" />
                </div>
                <div class="ms-2">
                    <span class="fs-4 fw-bold">BrownMonster</span>
                    <p>Efficiency made easy</p>
                </div>
            </div>
            <div class="row invoice_background_theme" style="background: <%= ledger_data.light_theme;%>">
                <div class="d-flex justify-content-between p-4">
                    <div> 
                        <p class="fw-normal invoice_label m-0" style="color: <%= ledger_data.dark_theme; %>"><%=ledger_data.ledger_lable%>  </p>
                        <p class="m-0 invoice_sub_label text-center"><%=ledger_data.ledger_number_lable%> <%=ledger_data.ledger_number%></p>
                        <p class="m-0 invoice_sub_label">Date: <%=ledger_data.date%> </p>
                    </div>
                    <div class="">
                        <p class="m-0 invoice_sub_label"><%=ledger_data.ledger_amount_lable%></p>
                        <p class="fw-normal invoice_label m-0" style="color: <%= ledger_data.dark_theme; %>"> <%=ledger_data.ledger_amount%></p>
                        <p class="m-0 invoice_sub_label">Due Date: <%=ledger_data.due_date%> </p>
                    </div>
                </div>
            </div>
            <div class="row mt-5 invoice_&_bill_details">
                <div class="d-flex justify-content-between">
                    <div>
                        <p class="fw-normal bill_to m-0">Bill To</p>
                       <!-- <p class="m-0 "><%=ledger_data.name%></p> -->
                        <p class="m-0 "><%=ledger_data.company_name%></p>
                        <p class="m-0 "><%=ledger_data.city%></p>
                        <p class="m-0 "><%=ledger_data.zip_code%></p>
                        <p class="m-0 "><%=ledger_data.address_line_one%></p>
                    </div>
                    <!-- <div>
                        <p class="fw-normal invoice_to m-0">Invoice To</p>
                        <p class="m-0 "><%=ledger_data.organization_name%></p>
                        <p class="m-0 "><%=ledger_data.organization_city%> </p>
                        <p class="m-0 "><%=ledger_data.organization_zip_code%></p>
                        <p class="m-0 "><%=ledger_data.organization_address_line_one%></p>
                    </div>  -->
                </div>
            </div>
            <div class="row mt-5">
            <table class="table table-bordered">
                <thead class="table-header-bg"></thead>
                    <tr style="background-color: <%= ledger_data.dark_theme %>;">
                        <th scope="col" class="th-white">S.No</th>
                        <th scope="col" class="text-center th-white">Employee Name</th>
                        <th scope="col" class="text-center th-white">Hours</th>
                        <th scope="col" class="text-center th-white">Rate</th>
                        <th scope="col" class="text-center th-white">Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <% ledger_data.ledger_employees.forEach(function(employee, index) { %>
                    <tr>
                        <th scope="row"><%= index + 1 %></th>
                        <td class="text-center"><%= employee.employee_name %></td>
                        <td class="text-center"><%= employee.hours %></td>
                        <td class="text-center">$<%= employee.rate %></td>
                        <td class="text-center">$<%= employee.amount %></td>
                    </tr>
                    <% }); %>
                </tbody>
            </table>
            </div>
            <div class="col-8 ">
            </div>
            <div class="col-4">
                <div class="d-flex flex-row justify-content-end">
                    <div class="m-3 ">
                        <p class="text-right">Adjustment</p>
                        <p class="bill-labels text-right">Sub Total</p>
                        <p class="text-right">Payment Made</p>
                        <p class="bill-labels text-right">Balnce Due</p>
                    </div>
                    <div class="m-3">
                        <p><%=ledger_data.adjustment_amount%></p>
                        <p><%=ledger_data.sub_total_amount%></p>
                        <p><%=ledger_data.payment_made%></p>
                        <p><%=ledger_data.balance_due%></p>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-5 p-1">
                <div class="note">Note.</div>
                <div class="note-points">Please do acknowledge the receipt of invoice.</div>
                <div class="note-points">I would like to request you to please co-operate with us by relesing payments atleast 3 to 4 days before the due date.</div>
                <div class="note-points">Thanks for your business.</div>
                <div class="note-points">Terms & condition.s</div>
                <div class="note-points">Please pay the due amount on time.</div>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>