<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Theme-5</title>
    </head>
    <style>
    * {
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
    }

    td {
        font-size: 12px;
    }

    .header .content {
        width: 100%;
        height: 20vh;
        background-color: #a87c4d;
        position: relative;
    }

    .flex-box {
        height: 100%;
        width: 100%;
        display: flex;
    }

    .header .content .box-1 {
        width: 100%;
        height: 100%;
        padding: 12px;
    }

    .header .content .box-1 h4 {
        margin: 8px 4px;
        font-size: 36px;
        font-weight: 800;
        color: #FFFFFF;
    }

    .header .content .box-1 p {
        margin: 8px 4px;
        font-size: 16px;
        font-weight: 600;
        color: #FFFFFF;
    }

    .header .content .box-2 {
        width: 100%;
        height: 100%;
        padding: 2px 20px;
        display: flex;
        justify-content: end;
        align-items: center;
    }

    .header .content .box-2 .logo-box {
        background-color: #bd8e51;
        height: 16vh;
        width: 16vh;
        border-radius: 100%;
        box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    }

    .header .content .fixed-box {
        position: absolute;
        bottom: -28%;
        left: 50%;
        transform: translate(-50%, 0);
        height: 12vh;
        width: 600px;
        background-color: #FFFFFF;
        box-shadow: 0px 3px 6px #00000029;
        border-radius: 20px;
    }

    .header .content .fixed-box .box-1 {
        width: 60%;
        padding: 12px;
        display: flex;
        align-items: center;
    }

    .header .content .fixed-box .box-1 table td {
        padding: 2px 6px;
    }

    .header .content .fixed-box .box-2 {
        width: 40%;
        padding: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header .content .fixed-box .box-2 h5 {
        margin: 6px;
        font-size: 22px;
        font-weight: 600;
    }



    .section-1 {
        padding: 12px;
        position: relative;
    }

    .section-1 .watermark-box {
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
        height: 100%;
        width: -webkit-fill-available;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: 10;
    }

    .section-1 .watermark-box .watermark {
        opacity: 0.2;
        height: 100px;
        width: auto;
    }

    .section-1 .content {
        min-height: 24vh;
        width: 100%;
        display: flex;
    }

    .section-1 .content .box {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .section-1 .content .left-box {
        justify-content: start;
    }

    .section-1 .content .right-box {
        justify-content: end;
    }

    .section-1 .content .box h4 {
        margin: 10px 0px;
    }

    .section-1 .content .box p {
        margin: 0px;
    }

    /*.section-1 .content .right-box h4 {
        margin: 10px 0px;
    }

    .section-1 .content .right-box p {
        margin: 0px;
    }*/

    .section-1 .content .box div {
        width: 250px;
    }

    .section-2 .table-box,
    .section-2 .total-box {
        padding: 8px 12px;
    }

    .body .section-2 .table-box table {
        width: 100%
    }

    .section-2 .table-box table,
    .section-2 .table-box th,
    .section-2 .table-box td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    .section-2 .table-box th {
        text-align: center;
        padding: 6px 2px;
        background-color: #a87c4d;
    }

    .section-2 .table-box td {
        text-align: center;
        padding: 4px 2px;
    }

    .section-2 .total-box .box {
        width: 100%;
        display: flex;
        justify-content: end;
    }

    .section-2 .total-box .box table td {
        padding: 4px 6px;
    }

    .text-end {
        text-align: end;
    }

    .text-bold {
        font-weight: bold;
    }

    .section-3 {
        padding: 12px;
    }

    .section-3 .terms-box p {
        margin: 4px 0px;
    }
</style>

<body>
    <div>
        <div class="header">
            <div class="content">
                <div class="flex-box">
                    <div class="box-1">
                        <h4>Invoice</h4>
                        <p>
                            <%=invoice_data.invoice_no%>
                                </p>
                                </div>
                    <div class="box-2">
                        <div class="logo-box">
                        </div>
                    </div>
                    <div class="fixed-box">
                        <div class="flex-box">
                            <div class="box-1">
                                <table>
                                    <tr>
                                        <td>Invoice Date</td>
                                        <td>:</td>
                                        <td>
                                            <%=invoice_data.invoice_date%>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Terms</td>
                                        <td>:</td>
                                        <td>Net <%=invoice_data.terms%>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Date</td>
                                        <td>:</td>
                                        <td>
                                            <%=invoice_data.due_date%>
                                        </td>
                                        </tr>
                                        </table>
                            </div>
                            <div class="box-2">
                                <div>
                                    <h5>Balance Due</h5>
                                    <h5>$<%=invoice_data.balance_due%>
                                    </h5>
                                </div>
                            </div>
                            </div>
                            </div>

                </div>

            </div>
            </div>
            <div class="body">
                <div class="section-1">
                    <div class="watermark-box">
                        <img src="<%=invoice_data.logo%>" alt="watermark" class="watermark">
                    </div>

                <div class="content">
                    <div class="box left-box">
                        <div>
                            <h4>Invoice To</h4>
                            <p>
                                <%=invoice_data.office_address%>
                            </p>
                            <p>
                                <%=invoice_data.office_address_cities%>
                            </p>
                            <!--<p>EIN : 46-5582856</p>-->
                            </div>
                            </div>
                            <div class="box right-box">
                                <div>
                                    <h4>Bill To</h4>
                                    <p>
                                        <%=invoice_data.bill_to%>
                            </p>
                        </div>
                    </div>
                    </div>
                    </div>
                    <div class="section-2">
                        <div class="table-box">
                            <table>
                                <tr>
                            <th>Service Name</th>
                            <th>Service Description</th>
                            <th>Hours</th>
                            <th>Rate</th>
                            <th>Amount</th>
                            </tr>
                        <% if (invoice_data.body_data.length> 0) { %>
                            <% invoice_data.body_data.forEach(data=> {%>
                                <tr>
                                    <td>
                                        <%= data.service_name %>
                                    </td>
                                    <td>
                                        <%= data.description %>
                                    </td>
                                    <td>
                                        <%= data.hours %>
                                    </td>
                                    <td>
                                        <%= data.rate %>
                                    </td>
                                    <td>
                                        <%= data.amount %>
                                    </td>
                                    </tr>
                                    <% });%>
                                        <% }%>
                    </table>
                    </div>
                    <div class="total-box">
                        <div class="box">
                            <table>
                                <tr>
                                    <td class="text-end">Sub Total</td>
                                    <td>:</td>
                                    <td class="text-end">$<%=invoice_data.sub_total%>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-end text-bold">Total</td>
                                    <td>:</td>
                                    <td class="text-end">$<%=invoice_data.total%>
                                    </td>
                                    </tr>
                                    <tr>
                                    <td class="text-end">Payment Made</td>
                                    <td>:</td>
                                    <td class="text-end">$<%=invoice_data.payment_made%>
                                    </td>
                                    </tr>
                                <tr>
                                    <td class="text-end text-bold">Balance Due</td>
                                    <td>:</td>
                                    <td class="text-end">$<%=invoice_data.balance_due%>
                                    </td>
                                </tr>
                                </table>
                        </div>
                        </div>
                        </div>
                        <div class="section-3">
                            <div>
                                <h4>Notes</h4>
                                <p>
                                    <%=invoice_data.notes%>
                                </p>
                    <div class="terms-box">
                        <p>Terms & Conditions</p>
                        <p>Please pay the due amount on-time.</p>
                    </div>
                    </div>
            </div>
            </div>
    </div>
</body>

</html>